# ignore python virtual environment
.venv/

# ignore python cache
__pycache__/

# ignore .env file
.env

# ignore firebase-service-account.json
firebase-service-account.json

# ignore gemini service
gemini_service.py